<div class="card">
  <h3 class="card-header d-flex justify-content-between align-items-center">Create New Post
  </h3>
  <h3 class="card-body">
    <form class="card-body post-form">
      <label class="form-label" for="title">Title</label>
      <input name="title" id="title" type="text" autofocus="true" class="form-input" />
      <label class="form-label" for="content">Content</label>
      <textarea name="content" id="content" rows="5" cols="33" class="form-textarea"></textarea>

      <button type="submit" class="btn">Create</button>

    </form>
  </h3>
</div>

<script src="/js/createPost.js"></script>