<!-- Loop over each object in the posts array -->
{{#each posts as |post|}}
  <div class="card">
    <h3 class="card-header">{{post.title}}
      Created by
      {{post.user.name}}
      on
      {{format_date post.date_created}}</h3>
    <h3 class="card-body">
      {{post.content}}
    </h3>
  </div>
{{/each}}